<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{title}} - {{metadata.title}}</title>
</head>
<body>
    {{> header}}

    <h1>Homepage</h1>
    <h2>Some special copy for the homepage</h2>
</body>
</html>
