<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>{{title}}</title>
</head>
<body>
		{{> header}}

    <h1>Homepage</h1>
		<h2>A second template to show how it works</h2>
</body>
</html>
